html, body {
	height:100%;
}

#custom_date {
	display: none;
}
#custom_date_all {
	display:none;
}
#contentMap
{
	 height: 300px;
}
#infoBox {
	display: none;
}
#chartOptions {
	display: none;
}
#view_all {
/*	display: none;*/
}
#view_neighborhood {
	display:none;
}